To: {{ .Recipient }}
From: {{ .Sender }}
Subject: {{ .Subject }}

Dear {{ .FirstName }} {{ .LastName }}

The following session has been cancelled:

Date: {{ .Date }}
      {{ .Start }} to {{ .End }}

Please login to {{ .URL }} to check your schedule.

See you on the lake soon.