<?php
// Database Configuration
//===================================================
// database server
$config['db_server']   = "db:3306";
// database
$config['db_name']     = "booksys";
// database user
$config['db_user']     = "user";
// database user password
$config['db_password'] = "userpassword";

// MyNautique Configuration
//===================================================
// mynautique enabled
$config['mynautique_enabled'] = FALSE;
// mynautique user
$config['mynautique_user'] = "user";
// mynauqitue password
$config['mynautique_password'] = "userpassword";

?>
